p, h2, h4, .skills, .svg-wrapper, .contact li, .main-nav li, .logo a,
.main-nav a {
  text-align: center; }

.portfolio, .skills, .contact {
  padding-bottom: 3.125em; }

.about:after {
  content: "";
  display: table;
  clear: both; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.contact li,
nav li {
  list-style: none; }

img {
  width: 100%; }

@media (min-width: 1024px) {
  h2 {
    padding-top: 30px;
    margin-top: 0; } }

body {
  background-color: #9DD3FF; }

p {
  color: #30627e; }

h1,
h2,
h3 {
  color: #675A85; }

h4 {
  color: #30627e; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

p {
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 2.5em; }

h2 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 50px 0 50px;
  margin: 0; }

.wrapper {
  max-width: 1150px;
  margin: 0 auto; }

.container {
  width: 90%;
  margin: 0 auto; }

.profile-img {
  width: 80%;
  margin: 50px auto 10px; }
  @media (min-width: 768px) {
    .profile-img {
      margin: 0; } }

@media (min-width: 768px) {
  .about {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; } }

@media (min-width: 768px) {
  .bio p {
    text-align: left;
    margin: 0;
    font-size: 22px; }

  .about-item {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px; }

  .bio {
    flex: 1.4; } }
@media (min-width: 1024px) {
  .bio p {
    font-size: 28px; } }
.portfolio {
  background-color: #fff; }
  @media (min-width: 768px) {
    .portfolio {
      width: 100%;
      padding: 5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: row; } }
  @media (min-width: 1024px) {
    .portfolio {
      padding: 2%; } }

.portfolio h2 {
  width: 100%; }

h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0; }

figure {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    figure {
      height: 450px;
      flex: 1 50%;
      padding: 0 10px;
      margin: 0; } }
  @media (min-width: 1024px) {
    figure {
      flex: 1 33.33%;
      max-width: 33.33%; } }
  figure img {
    width: 100%; }

figcaption {
  margin: 0 5%; }
  figcaption p {
    font-weight: 200;
    font-size: 16px;
    color: #30627e; }

footer {
  border-top: 1px solid #0E6B8D; }

.skills {
  background-color: #626F7F; }
  @media (min-width: 1024px) {
    .skills {
      padding-bottom: 100px;
      margin-bottom: 50px; } }

.skills h2 {
  color: #fff; }

.svg-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  max-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .svg-group {
      width: 580px;
      margin: 0 auto;
      max-width: none; } }
  @media (min-width: 1024px) {
    .svg-group {
      justify-content: space-around;
      width: 90%; } }

.svg-wrapper {
  width: 130px;
  padding: 5px 5px; }
  @media (min-width: 768px) {
    .svg-wrapper {
      margin: 5px 10px; } }

@media (min-width: 768px) {
  .contact {
    width: 80%;
    margin: 0 auto; } }
.contact li {
  margin-bottom: 10px; }
.contact a {
  font-weight: normal;
  font-size: 22px;
  color: #30627e; }
.contact span {
  font-weight: 200;
  margin-right: 15px;
  color: #3e7fa3; }
.contact ul {
  margin: 0;
  padding: 0; }
@media (min-width: 1024px) {
  .contact p {
    font-size: 28px; } }

@media (min-width: 1px) and (max-width: 767px) {
  .is-collapsed-mobile {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
    line-height: 0; } }

@media (min-width: 1px) and (max-width: 767px) {
  .mob-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
    height: 100px; }

  .mob-nav img {
    position: absolute;
    right: 4%;
    width: 50px;
    margin: 28px 0;
    cursor: pointer;
    box-shadow: -1px 1px 1px #30627e;
    background: #7aafcd;
    border-radius: 10%; }

  .mob-nav h1 {
    position: absolute;
    font-size: 28px;
    left: 5%; } }
@media (min-width: 768px) {
  .mobile-nav-toggle {
    display: none; } }
footer h3,
.back-to-top {
  display: inline-block;
  padding: 30px 0;
  font-weight: bold;
  font-size: 16px; }

footer h3 {
  margin: 0;
  float: left; }

.back-to-top {
  text-transform: uppercase;
  float: right;
  color: #30627e; }
  @media (min-width: 768px) {
    .back-to-top {
      display: none; } }

.footer-nav {
  display: none; }
  @media (min-width: 768px) {
    .footer-nav {
      display: inline-block;
      float: right; }
      .footer-nav a {
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold; }
      .footer-nav li {
        display: inline-block;
        margin: 12px 7px; } }

footer a {
  color: #30627e; }
  footer a:hover {
    color: #073242;
    background-color: #E0AB27; }

.main-header,
.main-nav ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }

@media (min-width: 768px) {
  .main-header {
    height: 200px;
    justify-content: flex-end; } }
@media (min-width: 1024px) {
  .main-header {
    height: auto;
    flex-direction: row; } }

.logo {
  font-size: 18px;
  align-self: center; }
  @media (min-width: 1024px) {
    .logo {
      margin-right: auto; } }

.main-nav li {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff; }
  @media (min-width: 768px) {
    .main-nav li {
      background-color: transparent; } }
  @media (min-width: 1024px) {
    .main-nav li {
      margin-right: .65em;
      margin-left: .65em; } }

.logo a,
.main-nav a {
  padding: 10px 15px; }

.main-nav a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: block;
  color: #30627e; }
  @media (min-width: 1024px) {
    .main-nav a {
      font-size: 18px; } }
  .main-nav a:hover {
    color: #073242;
    background-color: #E0AB27; }

.main-nav ul {
  margin: 0;
  padding: 0; }
  @media (min-width: 768px) {
    .main-nav ul {
      margin-top: 1em;
      flex-direction: row;
      justify-content: center; } }

@media (min-width: 1024px) {
  .main-nav,
  .main-nav ul {
    margin-top: 0;
    align-self: center; } }

/*# sourceMappingURL=application.css.map */
