
.portfolio {
	@extend %bot-padding;
	background-color: $white;

	@include mq(medium) {
		width: 100%;
		padding: 5%;
		@include flexbox(wrap);
	}

	@include mq(large) {
		padding: 2%;
	}
}

.portfolio h2 {
	width: 100%;
}

h4 {
	font-size: 1.5em;
	font-weight: normal;
	@extend %centered;
	margin-bottom: 0;
}

figure {
	width: 90%;
	margin:	$center;

	//Two column layout for portfolio
	@include mq(medium) {
		height: 450px;
		flex: 1 50%;
		padding: 0 10px;
		margin: 0;
	}

	@include mq(large) {
		flex: 1 33.33%;
		max-width: 33.33%;
	}

	img {
		width: 100%;
	}
}

figcaption {
	margin: 0 5%;

	p {
		font-weight: 200;
		font-size: 1em;
		color: $text-color;
	}

}
