body {
	font-family: $stack-helvetica;
	font-size: $base-font-size;
 	line-height: ($base-line/$base-font-size);
}

p {
	font-size: $large-text;
	font-weight: 200;
	margin-bottom: em(40px);
	@extend %centered;
}

h2 {
	text-transform: $case;
	font-size: $medium-text;
	@extend %centered;
	padding: 50px 0 50px;
	margin: 0;
}
